<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h2>Welcome, {{ user.username }}</h2>
    <h3>Your Predictions:</h3>
    <ul>
        {% for month, prediction in prediction_data.items() %}
        <li>{{ month }}: {{ prediction }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
